/*Video*/
video {
  height: 80vh;
  display: block;
  margin: auto;
}

figure{
  margin: 5px;
}

figcaption {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-size: 30px;
  color: white;
}

/*Hidden Text*/
#hiddenText {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

#hiddenText.hidden {
  opacity: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s 0.5s, height 0.5s ease-in-out, margin 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#genjutsu {
  cursor: pointer;
  color: yellow;
  font-size: 30px;
  margin: auto;
}

audio {
  display: none;
}

body {
  background: radial-gradient(#870c00 0%, #260300 100%);
}
